body{
    background-color: azure;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: black;
}

header h1{
    color: red;
    margin: 0px;
    padding: 1rem;
    text-align: center;
}

nav{
    background-color: red;
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 15px;
    gap: 5px;
}

nav li {
    background-color: black;
    border-radius: 15px 0px 15px 0px;
}

nav a{
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover{
    background-color: red;
    color: black;
}

main {
    max-width: 1200px;
    margin: auto;
}

.container {
    border: 5px solid black;
    display: flex;
    margin: 0.5rem;
}

section{
    padding: 10px;
}

footer{
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

@media (max-width:400px){
    nav ul{
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }
} 